@model string
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>世界杯竞猜</title>
    <link href="~/Content/css/mui.min.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <link href="~/Content/css/app.css" rel="stylesheet" />
</head>

<body>
    <div class="mui-content" style="min-height: 95%;">
        <div class="login-img">
            <img src="~/Content/img/login/sjb_pic.png" width="100%" height="100%" />
        </div>
        <form id='login-form' class="mui-input-group" method="post" action="/home/login">
            <div class="mui-input-row">
                <input id='account' type="email" name="email" class="mui-input-clear" placeholder="邮箱">
            </div>
            <div class="mui-input-row">
                <input id='password' type="password" name="pwd" class="mui-input-clear" placeholder="密码">
            </div>
            <button id='gologin' type="submit" style="display:none" class="mui-btn mui-btn-block mui-btn-primary">触发登录</button>
        </form>
        <div class="mui-content-padded">
            
                <button id='login' onclick="goLogin()" class="login-btn mui-btn mui-btn-block mui-btn-primary">登录</button>
           
            <a href="/home/signup">
                <button id='sign' class="sign-btn mui-btn mui-btn-block mui-btn-primary">注册</button>
            </a>
        </div>
        <div class="link-area">
            @*<a id='forgetPassword' href="sign.html">找回密码</a>*@
        </div>
    </div>
</body>

</html>
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/mui.min.js"></script>
<script>
    function goLogin() {
        $("#gologin").click();
    }
</script>