@model ShiJieBeiComponents.Domains.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>重置密码-世界杯竞猜</title>
    <link href="~/Content/css/mui.min.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <link href="~/Content/css/app.css" rel="stylesheet" />
</head>

<body>
    <div class="mui-content">
        <form class="change-pwd-form mui-input-group" method="post" action="/home/resetpassword">
            <div class="mui-input-row">
                <input id='new-pwd' type="password" name="pwd" class="mui-input-clear" placeholder="请输入密码">
            </div>
            <div class="mui-input-row">
                <input id='new-pwd2' type="password" name="qrpwd" class="mui-input-clear" placeholder="请再次输入密码">
            </div>
            <button id='resetpassword' style="display:none" class="login-btn mui-btn mui-btn-block mui-btn-primary">触发修改</button>
            <input type="hidden" name="code" value="@Model.RetrievePassWordCode" />
        </form>
        <div class="mui-content-padded">
            <button id='change-pwd' onclick="resetPassword()" class="login-btn mui-btn mui-btn-block mui-btn-primary">确认修改</button>
        </div>
    </div>
</body>

</html>
<script src="~/Content/js/jquery.min.js"></script>
<script>
    function resetPassword() {
        $("#resetpassword").click();
    }
</script>
<script src="~/Scripts/app.js"></script>