
@{
    Layout = null;
}


<!DOCTYPE html>
<html class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>找回密码-世界杯竞猜</title>
    <link href="~/Content/css/mui.min.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <link href="~/Content/css/app.css" rel="stylesheet" />
</head>

<body>
    <div class="mui-content">
        <div class="login-img">
            <img src="~/Content/img/login/sjb_pic.png" width="100%" height="100%" />
        </div>
        <form id='sign-form' class="mui-input-group" style="margin: 0px 15px;" method="post" action="/home/retrievepassword" >
            <div class="mui-input-row">
                <input id='account' type="email" name="email" class="mui-input-clear" placeholder="请输入邮箱">
            </div>
            <button id='gosendemail' type="submit"  style="display:none" class="login-btn mui-btn mui-btn-block mui-btn-primary">发送邮件</button>
        </form>
        <div class="mui-content-padded">
            <button id='send-email' onclick="goSendEmail()"  class="login-btn mui-btn mui-btn-block mui-btn-primary">发送邮件</button>
        </div>
    </div>
  
</body>

</html>
<script src="~/Content/js/jquery.min.js"></script>
<script>
    function goSendEmail() {
        $("#gosendemail").click();
    }
</script>