
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>激活邮件已发送</title>
</head>
<body>
<div>
    激活邮件已发送,请登录邮箱激活
</div>
</body>
</html>
