@model string
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>邮件已发送</title>
    <link href="~/Content/css/mui.min.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <link href="~/Content/css/app.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="mui-content" style="margin-top: 200px;">
        <div class="email-div">
            <img src="~/Content/img/login/email.png" class="center-block" width="40%" height="80%" />
        </div>
        <p class="send-email-text text-center">邮件已发送到您的注册邮箱，请登录邮箱查看</p>
        <p class="send-email-text text-center">如有其它任何疑问请添加微信客服：mytokenera</p>
    </div>
</body>
</html>
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Scripts/app.js"></script>