@model  ShiJieBeiComponents.Domains.User
@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="~/Content/css/mui.min.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/me.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/app.css" />

</head>

<body>
    <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item" href="/game">
            <img class="mui-icon" src="~/Content/img/nav/sc.png"></img>
            <span class="mui-tab-label">赛程</span>
        </a>
        <a class="mui-tab-item" href="/game/rank">
            <img class="mui-icon" src="~/Content/img/nav/phb.png"></img>
            <span class="mui-tab-label">排行榜</span>
        </a>
        <a class="mui-tab-item mui-active" href="/my">
            <img class="mui-icon" src="~/Content/img/nav/w-hover.png"></img>
            <span class="mui-tab-label">我</span>
        </a>
    </nav>
    <div class="mui-content my-content">
        <div class="head-div">
            <img src="~/Content/img/headimage/@Model.HeadImg" class="head-img" width="76px" height="76px" />
        </div>
        <div class="nick-name-div">
            <span class="nick-name">@Model.Email</span>
            <img src="~/Content/img/jf.png" class="jf-icon" width="20px" height="auto" />
            <span class="integral">积分：@Model.Account.Vouchers</span>
        </div>
        <div class="dividing-line"></div>
        <form id='login-form' class="mui-input-group">
            <div class="mui-input-row">
                <label>邮箱:</label>
                <input id='email' type="text" class="mui-input-clear" value="@Model.Email" readonly="readonly" placeholder="">
            </div>
            <div class="mui-input-row">
                <label>钱包:</label>
                <input id='wallet' type="text" class="mui-input-clear" value="@Model.Wallet" readonly="readonly" placeholder="">
            </div>
            <div class="mui-input-row">
                <label>密码 : </label>
                <input id='password' disabled="" type="password" class="mui-input-clear" placeholder="******">
                <a href="" class="mui-navigate-right"></a>
            </div>

            <div class="mui-input-row">
                <input id='' type="text" class="mui-input-clear" disabled="" placeholder="联系客服 : 添加微信qwechat">
            </div>
        </form>
    </div>
</body>

</html>

<script src="~/Scripts/app.js"></script>