@model ShiJieBei.Models.GameViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>世界杯竞猜</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="~/Content/css/mui.min.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/schedule.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/app.css" />

</head>

<body>
    <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item mui-active" href="/game">
            <img class="mui-icon" src="~/Content/img/nav/sc-hover.png"></img>
            <span class="mui-tab-label">赛程</span>
        </a>
        <a class="mui-tab-item" href="/game/rank">
            <img class="mui-icon" src="~/Content/img/nav/phb.png"></img>
            <span class="mui-tab-label">排行榜</span>
        </a>
        <a class="mui-tab-item" href="/my">
            <img class="mui-icon" src="~/Content/img/nav/w.png"></img>
            <span class="mui-tab-label">我</span>
        </a>
    </nav>
    <div class="mui-content my-content">
        <div class="banner-div">
            <img src="~/Content/img/schedule/sjb.png" width="100%" height="100%" />
        </div>
        <div style="padding-bottom: 20px;">
            @foreach (var item in Model.Games)
            {
                <a href="/game/play?gameId=@item.Id">
                    <div class="mui-card">
                        <div class="jc-img-div">
                            <img src="~/Content/img/schedule/jcz.png" class="js-icon" />
                        </div>
                        <div class="jc-div">
                            <div class="inline-block third">
                                <img class="flag center-block" src="~/Content/img/gjtb/@($"{item.ZhuChangSuoXie}.png")" />
                                <span class="national center-block text-center">@item.ZhuChang</span>
                            </div>
                            <div class="inline-block third">
                                <h1 class="text-center">VS</h1>
                                <span class="start-time center-block text-center">@item.StartTime.ToString("MM-dd") @item.StartTime.ToString("HH:mm")</span>
                            </div>
                            <div class="inline-block third">
                                <img class="flag center-block" src="~/Content/img/gjtb/@($"{item.KeChangSuoXie}.png")" />
                                <span class="national center-block text-center">@item.KeChang</span>
                            </div>
                        </div>
                    </div>
                </a>
            }

        </div>
    </div>
</body>

</html>
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Scripts/app.js"></script>