a {
	font-size: 17px;
	color: #145df6;
}

a:link {
	color: #145df6;
}

a:visited {
	color: #145df6;
}

a:hover {
	color: #145df6;
}

a:active {
	color: #145df6;
}
form{
	margin: 0px 15px;
}
.banner-div {
	margin: 30px 0px 30px 0px;
}
.mui-btn {
	padding: 10px;
	margin: 5%;
	width: 90%;
	border-radius: 30px;
}
.center-block{
	display: block;
	margin-right: auto;
	margin-left: auto
}
.text-center {
	text-align: center;
}
.text-right{
	text-align: right;
}
input::-webkit-input-placeholder {
	color: #333333;
}

input::-moz-input-placeholder {
	color: #333333;
}

input::-ms-input-placeholder {
	color: #333333;
}
.mui-input-row label{
	padding: 0px;
	color: #333333;
	width: 20%;
}
.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea{
	width: 80%;
}
.my-content{
	margin-top: 32px;
}
.dividing-line {
	margin: 10px 0px;
	height: 10px;
	background-color: #ececec;
}